.gameOfTheWeek {
    position: relative;
    .title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #ffffff;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .btn {
        color: #f2f2f2
    }
}