/* You can add global styles to this file, and also import other style files */

@import 'layout';
@import 'normalize';
@import 'colors';
@import '~assets/css/icons.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700');
html,
body {
  background: -webkit-linear-gradient(90deg, #c2c2c2 0.10, #b0acb7 100%);
  background: -moz-linear-gradient(0deg, #c2c2c2 0.10, #b0acb7 100%);
  background: linear-gradient(0deg, #c2c2c2 0.10, #b0acb7 100%);
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

a {
  font-size: 14px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.container {
  position: relative;
  max-width: 1060px;
  margin: auto;
  padding: 0 2%;
}

.product {
  position: relative;
  display: inline-grid;
  img {
    width: 100%;
    height: auto;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  box-shadow: 0px 1px 5px rgba(0,
  0,
  0,
  0.3);
  &:hover {
    .btn {
      background-color: $greenColor;
      border-color: darken($greenColor, 10%)
    }
    .discount {
      border: 1px solid #a9a9a900;
    }
    .btnOwned {
      background-color: transparent;
      border: 1px solid #c5c5c5;
      color: #c5c5c5;
    }
  }
}

.btn {
  color: #404040;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  div {
    padding: 5px 10px;
  }
}

.btnPrice {
  box-shadow: 0px 1px 1px #a5a5a5;
}

.discount {
  background-color: $greenColor;
  border: 1px solid #a9a9a900;
  right: 76px;
  color: #f2f2f2;
  cursor: initial;
}

.btnOwned {
  cursor: not-allowed;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
}
